DB_HOST=localhost
DB_PORT=3306
DB_NAME=whatsapp_rag_bot
DB_USER=root
DB_PASSWORD=

WHATSAPP_ACCESS_TOKEN=EAAWtF6vKMy0BQ0aSgJdB8GLBo4PqvtZCLOiyi2s1N2AW1WPQFc04QGLuT2ZCz8ZCNl50AGBqjLHx9lEqj0WGZAEZCxZBdNxH31FZA07CVQ44pV6UhjxfJSO6segaGwD1fiHVZAle2ZCU6QQkJpmJEpqftd4aPZCURvzAhotIJi99UyzEgTtqVmixFNYXGWZCJtYQWRbI873ebcKseYQP3Kscx4ZA2KXdp0CTaLgknf6QoYyxdNi6P37w5KsltcTPZCbS2zFiWkLmAao20Q9fJYOEzI81ZA4TsZD
WHATSAPP_PHONE_NUMBER_ID=945985608606607
WHATSAPP_VERIFY_TOKEN=token

OPENAI_API_KEY=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
OPENAI_MODEL=gpt-3.5-turbo
OPENAI_EMBEDDING_MODEL=text-embedding-ada-002

APP_BASE_URL=http://localhost
APP_DEBUG=true
